<mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile>
        Name: 
    </mat-grid-tile>
    <mat-grid-tile class="content">
        Santhosh<span class="spacer"></span>
    </mat-grid-tile>

    <mat-grid-tile>
        PhoneNumber: 
    </mat-grid-tile>
    <mat-grid-tile class="content">
        873247027234<span class="spacer"></span>
    </mat-grid-tile>

    <mat-grid-tile>
        Email Address: 
    </mat-grid-tile>
    <mat-grid-tile class="content">
        ajlkdslka@gmail.com <span class="spacer"></span>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <button type="button" mat-raised-button color="primary" class="float-right"> 
            <mat-icon>edit</mat-icon>
            Edit</button>
    </mat-grid-tile>
</mat-grid-list>