<mat-card class="example-card m-3">
  <mat-card-header>
    <mat-card-title>Laptop</mat-card-title>
    <span class="example-spacer"></span>
    <mat-icon svgIcon="edit" (click)="onEdit()"></mat-icon>
    <mat-icon svgIcon="delete" (click)="onDelete()"></mat-icon>
  </mat-card-header>
  <img mat-card-image src="https://ssl-product-images.www8-hp.com/digmedialib/prodimg/lowres/c05962448.png" alt="Photo of a Laptop">
  <mat-card-content>
    <p>
      i7 8th Generation Processor
    </p>
  </mat-card-content>
</mat-card>